* {
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #212121;
}

.project_header {
    background-color: #313030;
    display: flex;
    justify-content: space-between;
}

.project_header .info {
    padding-top: 5%;
    padding-left: 11%;
    color: #fff;
    padding-bottom: 3%;
}

.project_header .info .tecnologies {
    margin-top: 8%;
    display: flex;
    flex-wrap: wrap;
}

.project_header .info .tecnologies p {
    margin-right: 17px;
    padding: 2px 12px;
    margin-bottom: 3%;
    border-radius: 20px;
    font-size: 14px;
}

.project_header .back {
    margin-top: 7%;
    margin-right: 10%;
}

.project_header .back a {
    background-color: rgb(168, 57, 57);
    color: #fff;
    padding: 6px 10px;
    border-radius: 25px;
}

.project_header .back a i {
    transition-duration: 0.7s;
}

.project_header .back a:hover i {
    transform: translateX(-6px);
}

.project_body {
    background-color: #313030;
    margin: 4% 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project_body .description {
    padding: 2% 3.5%;
}

.project_body .description p {
    text-align: justify;
    color: #fff;
    margin-bottom: 15px;
}

.project_body .description .view_app {
    font-size: 15px;
}

.project_body .description a {
    margin-top: 3%;
    margin-right: 30px;
    height: 35px;
    width: 140px;
    padding: 8px 10px;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    text-align: center;
}

.project_body .description .repository {
    background-color: #388146;
}

.project_body .description .repository:hover {
    background-color: #2da744;
}


/* Chem Organizer style */

.project_header .info .tecnologies_chem p {
    background-color: #852D91;
}

.project_body_chem img {
    height: 480px;
}

.project_body .description .visualize_chem {
    background-color: #852D91;
}

.project_body .description .visualize_chem:hover {
    background-color: #be1cd3;
}


/* Contacts QR style */

.project_header .info .tecnologies_contacts p {
    background-color: #1564C0;
}

.project_body_contacts img {
    height: 450px;
}

.project_body .description .visualize_contacts {
    background-color: #1564C0;
}

.project_body .description .visualize_contacts:hover {
    background-color: #1783ff;
}


/* Pet Care style */

.project_header .info .tecnologies_pet p {
    background-color: #3F3D56;
}

.project_body_pet_row-1 img {
    height: 450px;
}

.project_body_pet_row-2 .description_pet_down {
    display: none;
}

.project_body_pet_row-2 img {
    height: 480px;
}


/* Buscaminas style */

.project_header .info .tecnologies_buscaminas p {
    background-color: #808080;
}

.project_body .description .visualize_buscaminas {
    background-color: #808080;
}

.project_body .description .visualize_buscaminas:hover {
    background-color: #635e5e;
}

.project_body_buscaminas img {
    height: 340px;
}


/* Elihu style */

.project_header .info .tecnologies_elihu p {
    background-color: #314252;
}

.project_body_elihu img {
    width: 63%;
}


/* Clasificador style */

.project_header .info .tecnologies_clasificador p {
    background-color: #ACAFAF;
}

.project_body_clasificador img {
    width: 63%;
}


/* Sistema de rastreo style */

.project_header .info .tecnologies_rastreo p {
    background-color: #353A40;
}

.project_body_rastreo img {
    width: 50%;
}


/* Gestor BD style */

.project_header .info .tecnologies_gestor p {
    background-color: #2C44CC;
}

.project_body_gestor .login {
    width: 45%;
}

.project_body_gestor img {
    width: 60%;
}


/*Responsive design*/

@media screen and (max-width:1100px) {
    .project_body_pet_row-1,
    .project_body_buscaminas,
    .project_body_elihu,
    .project_body_clasificador {
        flex-wrap: wrap;
    }
    .project_body_pet_row-1 img {
        width: 60%;
        height: auto;
    }
    .project_body_buscaminas img {
        width: 80%;
        height: auto;
    }
    .project_body_elihu img {
        width: 65%;
        height: auto;
    }
    .project_body_clasificador img {
        width: 70%;
        height: auto;
    }
    .project_body_buscaminas .description,
    .project_body_elihu .description,
    .project_body_clasificador .description {
        text-align: center;
    }
}

@media screen and (max-width:992px) {
    .project_body_rastreo {
        flex-wrap: wrap;
    }
    .project_body_rastreo {
        text-align: center;
    }
    .project_body_rastreo .map {
        width: 70%;
    }
}

@media screen and (max-width:768px) {
    .project_body .description {
        text-align: center;
    }
    .project_body_pet_row-1 img {
        width: 80%;
        height: auto;
    }
    .project_body_pet_row-2 {
        flex-wrap: wrap;
    }
    .project_body_pet_row-2 .description_pet {
        display: none;
    }
    .project_body_pet_row-2 .description_pet_down {
        display: block;
    }
    .project_body_pet_row-2 .left_image {
        width: 35%;
        height: auto;
        margin: 0 5%;
    }
    .project_body_pet_row-2 .right_image {
        width: 39%;
        height: auto;
        margin: 0 5%;
    }
    .project_body_buscaminas img {
        width: 90%;
    }
    .project_body_elihu img {
        width: 80%;
    }
    .project_body_clasificador img {
        width: 85%;
    }
    .project_body_rastreo img {
        width: 60%;
    }
    .project_body_rastreo .map {
        width: 100%;
    }
    .project_body_gestor {
        flex-wrap: wrap;
    }
    .project_body_gestor .login {
        width: 55%;
    }
    .project_body_gestor img {
        width: 70%;
    }
}

@media screen and (max-width:576px) {
    .project_header .back {
        margin-right: 3%;
    }
    .project_body {
        flex-wrap: wrap;
    }
    .project_body .description {
        text-align: center;
        padding: 4% 3.5%;
    }
    .project_body_chem img {
        width: 70%;
        height: auto;
    }
    .project_body_contacts img {
        width: 70%;
        height: auto;
    }
    .project_body_pet_row-1 img {
        width: 100%;
    }
    .project_body_pet_row-2 .left_image {
        width: 40%;
        margin: 0;
    }
    .project_body_pet_row-2 .right_image {
        width: 43.8%;
        margin: 0;
    }
    .project_body_buscaminas img {
        width: 100%;
    }
    .project_body_elihu img {
        width: 100%;
    }
    .project_body_clasificador img {
        width: 100%;
    }
    .project_body_rastreo img {
        width: 85%;
    }
    .project_body_gestor .login {
        width: 75%;
    }
    .project_body_gestor img {
        width: 90%;
    }
}

@media screen and (max-width:380px) {
    .project_body {
        margin: 4% 4%;
    }
    .project_body_chem img {
        width: 80%;
        height: auto;
    }
    .project_body_contacts img {
        width: 85%;
        height: auto;
    }
    .project_body_pet_row-1 img {
        width: 90%;
        height: auto;
    }
    .project_body_pet_row-2 .left_image {
        width: 60%;
        margin: 0;
    }
    .project_body_pet_row-2 .right_image {
        width: 60%;
        margin: 0;
    }
    .project_body_rastreo img {
        width: 100%;
    }
    .project_body_gestor .login {
        width: 100%;
    }
    .project_body_gestor img {
        width: 100%;
    }
}

@media screen and (max-width:300px) {
    .project_body_pet_row-2 .left_image {
        width: 80%;
        margin: 0;
    }
    .project_body_pet_row-2 .right_image {
        width: 80%;
        margin: 0;
    }
}